*{
    padding: 00;
    margin: 0;
}
body{
    background-color: white;
    height: 920t px;
}
header{
    width: 100%;
    height: 70px;
    margin-top: 5px;
    display: flex;  
    justify-content: space-between;
    align-items: center;
}
header nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
     margin-right: 50px;
     list-style: none;
}
header nav ul li a{
    color: black;
    text-transform: uppercase;
    font-size: 18px;
    text-decoration: none;
    margin: 50px;
    transition: 0.2ms;
    font-weight: 900;
}
header nav ul li a:hover{
     color: #FF6666;
}
header h1{
    color: #FF6666;
    text-transform: uppercase;
    font-size: 40px;
    margin-left: 40px;
    font-weight: 800px;
}
.hamburger {
    cursor: pointer;
    display: none;
}
.hamburger div {
    width: 30px;
    height: 4px;
    margin: 5px 0;
    background: #000;
}
#profile_description{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    margin-top: 40px;
}
#profile_description img{
    width: 20%;
}
#profile_description div{
    display: block;
    text-align: start;
}
#profile_description div h1{
    color: black;
    font-size: 50px;
  text-transform: uppercase;
     font-weight: 800;
    line-height: 70px;
}
#profile_description div  p{
     color: gray;
     font-size: 18px;
     text-transform: uppercase;
     font-weight: 300;
}
#profile_description div .information{
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    font-size: 17px;
    font-weight: 200;
   padding: 10px 40px;
    border-radius: 2px;
    background-color: #336699;
    text-decoration: none; 
    position: relative;
    top: 30px;
}
#profile_description div .contact{
    color: white;
    text-transform: uppercase;
    font-size: 17px;
    font-weight: 200;
   padding: 10px 40px;
    border-radius: 2px;
    background-color: #FF6666;
    text-decoration: none; 
    position: relative;
    top: 30px;
}
#services h1{
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 900;
    margin-left: 40px;
    color: black;
    margin-top: 100px;
}
#my_services{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}
#my_services div{
    margin-left: 40px;
    align-items: start;
    display: block;
}
#my_services div h1{
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 900;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    margin-top: 15px;
}
#my_services div p{
    color:  gray;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 700;
    margin-top: 15px;
}
#my_services div a{
    color: black;
    text-transform: uppercase;
    font-family: 18px;
    font-weight: 800;
    text-decoration: none;
    position:  relative;
    top: 15px;
}
#last_services{
    margin-right: 50px;
}
hr{
    width: 70%;
    margin-left: 14%;
    margin-top: 90px;
    border-top: 1px solid #FF6666;
}
#about h1{
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 900;
    margin-left: 40px;
    color: black;
    margin-top: 100px;
}
#about_me{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin-top: 30px;
}
#about_me h6{
    color: black;
    text-align: start;
    line-height: 32px;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 400;
    margin-left: 40px;
}
#about_me div{
    display: block;
    margin-right: 15px;
    text-align: start;
    margin-bottom: 150px;
    padding-left: 20px ;
    border-left: 0.1px solid gray;
}
#about_me div h1{
    color:#336699;
    text-transform: uppercase;
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 20px;
}
#about_me div p{
    color: gray;
    font-size: 17px;
    font-weight: 300;
    text-transform: uppercase;
    margin-top: 20px;
}
#contact h1{
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 900;
    margin-left: 40px;
    color: black;
    margin-top: 100px;
}
#contact_me{
    display: flex;  
    justify-content: space-between;
    align-items: center;
    margin-top: 80px;
    text-align: start;
}
#contact_me div{
    display: block;
    margin-left: 40px;
}
#contact_me div h5{
    margin-bottom: 400px;
    text-transform: uppercase;
    color: black;
    font-weight: 500;
    font-size: 25px;
    text-align: start;  
}
#contact_me div .social_media{
    position: relative;
    bottom: 350px;
    margin-left: 17px;
    cursor: pointer;
    text-align: start;
}
#contact_me #sent_message{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: start;
    margin-right: 100px;
    margin-bottom: 100px;
}
#contact_me #sent_message input{
    margin-bottom: 59px;
    width: 550px;
    height: 50px;
    border-radius: 3px;
    border: none;
    outline: none;
    background-color: rgb(226, 226, 226);
}
#contact_me #sent_message textarea{
    margin-bottom: 59px;
    width: 550px;
    height: 80px;
    border-radius: 3px;
    border: none;
    outline: none;
    background-color: rgb(226, 226, 226);
}
#contact_me #sent_message a{
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
    width: 550px;
    height: 50px;
    border-radius: 3px;
    border: none;
    outline: none;
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 400;
    background-color: #FF6666;
}
#work{
    text-transform: uppercase;
    font-size: 21px;
    font-weight: 900;
    margin-left: 40px;
    color: black;
    margin-top: 100px;
}
#find_work{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    margin-top: 80px;
}
#find_work img{
    width: 15%;
    cursor: pointer;
}
#indroduction{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 440px;
    padding-top: 80px;
    border-top: 0.1px solid rgba(210, 213, 213, 0.826);
}
#indroduction h2{
    text-transform: uppercase;
    font-size: 20px;
    color: black;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;

}
#fotter{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 70px;
    padding: 15px;
    margin-top: 500px;
    background-color: #dddd;
}
#fotter h1{
    color: gray;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 500;
    margin-left: 40px;
}
#fotter h2{
    color: gray;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 500;
    margin-right: 40px;  

}
@media only screen and (max-width: 1000px) {
    .hamburger {
        display: block;
    }
    .hamburger div {
        background: rgb(0, 0, 0);
        margin-right: 3px;
    }
    header nav {
        position: absolute;
        width: 100%;
        left: 0px;
        top: -999px;
        height:  100% ;
        z-index: 2;
        width: 100%;
        background:#336699;
        padding: 3px;
        transition: 0.3s;
    }
    body{
        overflow: scroll;
    }
    header #nav_check:checked ~ nav {
        top: 55px;
    }
    header nav ul {
     display: block;
        background-color: transparent;
    }
    header nav ul li a{
        color: white;
        transition: 0.2ms;
        margin-top: 20px;
    }
    header nav ul li a:hover{
        color: #FF6666;
      
    }
    #profile_description{
        display: block;
        margin-top: 20px;
        text-align: start;
        margin-left: 40px;
    }
    #my_services{
        display: block;
        text-align: start;
        margin-left: 40px;
        margin-top: 20px;
    }
    #my_services div{
        margin-top: 30px;
    }
    #about_me{
        display: block;
        text-align: start;
        margin-top: 20px;
    }
    #contact_me{
        display: block;
        text-align: center;
        margin-top: 20px;
    }
    #contact_me #sent_message input{
        text-align: start;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 350px;
    }
    #contact_me #sent_message textarea{
        text-align: start;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 350px;
    }
    #contact_me #sent_message a{
        text-align: start;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 350px;
    }
     #find_work h1{
        font-size: 15px;
        text-align: start;
     }
    #find_work{
        display: block;
        text-align: center;
        margin-top: 20px;
    }
}